code-experiments/build/*
release/.*
.*\#.*
.*\.orig
.*\.swp
*.o
*.so
*.Rhistory
*.RData
.idea
autodoc/
tools/.*.pyc
code-experiments/examples/bbob2009-c-cmaes/coco.[ch]
code-experiments/examples/bbob2009-c-cmaes/run_bbob
code-experiments/examples/bbob2009-c-cmaes/c-cmaes-v.*
code-experiments/examples/bbob2009-c-cmaes/.*\.o
code-experiments/examples/bbob2009-c-cmaes/.*\.par
*.pdf
code-experiments/rw-problems/gan-mario/GAN/*
code-experiments/rw-problems/*/variables*.txt
code-experiments/rw-problems/*/objectives*.txt
code-experiments/rw-problems/*/exdata
*.zip
*.pyc

